# balltime/requirements.txt

torch
torchvision
ultralytics
transformers
opencv-python
pillow
pandas
seaborn
tqdm

dataclasses-json
norfair
gdown
pydantic
pydantic-settings

# video models
git+https://github.com/facebookresearch/pytorchvideo
